div.tooltip {	
    position: absolute;										
    height: 20px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: rgb(253, 253, 253);	
    border: 1px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.axis-label {
    font: 12px sans-serif;
}

.tooltip h4 {
    margin: auto;
    font: 14px sans-serif;
    font-weight: bold;
}

div.dropdown-wrapper {
    display: flex;
    margin: 0 auto;
    padding: 2px;
    justify-content: space-evenly;
}

.dropdown-panel {
    display: inline-block;
    margin-bottom: 10px;
}

.dropdown-content {
    text-align: left;
}
.y-label,
.x-label,
.c-label {
    width: 1%7;
    display: inline-block;
    margin-bottom: 5px;
}

.table-wrapper-scroll-y {
    display: block;
}

th #stats {
    text-align: center;
}

div .selected {
    background: rgb(143, 149, 156);
}

.selected {
    stroke-width: 2px;
    stroke: black;
    opacity: 1;
}

/* Filter styling */
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  .table-wrapper-scroll-y {
    height: 700px;
    overflow-y: auto;
  }

  label {
    font-weight: bold;
}

.filter-label {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #eee;
}
#type-selection .ui-selecting { background: #686764; }
#type-selection .ui-selected { background: #686764; }
#type-selection { list-style-type: none; margin: 0; padding: 0; width: 600px; }
#type-selection li { margin: 3px; padding: 1px; float: left; width: 100px; height: 40px; text-align: center;}

#alignment-selection .ui-selecting { background: #686764; }
#alignment-selection .ui-selected { background: #686764; }
#alignment-selection { list-style-type: none; margin: 0; padding: 0; width: 600px; }
#alignment-selection li { margin: 3px; padding: 1px; float: left; width: 100px; height: 40px; text-align: center;}